version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5

  - package-ecosystem: "pip"
    directory: "/fastapi"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "direct"

  - package-ecosystem: "docker"
    directory: "/deployment/docker"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 3
